doctype html
html
  head
    meta(charset='UTF-8')
    title Liams App
    link(rel='stylesheet', href='../app.css', type='text/css')
  body
    .header
      .imhold
        img#poster.logiIm(alt='lo', src='/logo.png')
      .navhold
        .topnav
          a(href='/') Home
          a(href='/db') Products
          a(href='/insertstuff') Add Product
          a(href='/addit') Add Page
          a(href='/login') Log-In
       block content
       
    .footer
      p Liams Node.js Application Well
      p Images from Pixabay.com